<h1>Liste de toutes les commune : </h1>
<%= @region.commune.each do |commune| %>
	<%= link_to commune.name, commune_fokontanies_path(commune.id) %><br>
	<%= link_to Supprimer, commune_path(commune.id), method:"delete", data:{confirm:"Supprimé?"} %>
<% end %>