<h1>Les dates qui concerne la prochaine éléction </h1>
<p>
	<strong>Début du propagande : </strong> <%= @date.debut_propagande %>
	<strong>Fin du propagande : </strong> <%= @date.fin_propagande %>
	<strong>Début d'éléction : </strong> <%= @date.debut_vote %>
	<strong>Fin d'éléction : </strong> <%= @date.fin_vote %>
</p>