<section class="contenue" id="background-admin">
    <h1 class="titre">Bienvenue dans la page d'administrateur</h1>
    <%  if user_signed_in?%>
          <h2> 
            <%= link_to "Date d'éléction", new_daty_path %><br><br>
            <%= link_to "Se deconnecter", "/users/sign_out",method: :delete %>
          </h2>    
        <% else %>
         <%= button_to  "connecter", new_user_session_path,id:"bout" %>
    <% end %>
</section>
 