/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

*= require assets/css/open-iconic-bootstrap.min
*= require assets/css/animate
*= require assets/css/owl.carousel.min
*= require assets/css/owl.theme.default.min
*= require assets/css/magnific-popup
*= require assets/css/aos
*= require assets/css/ionicons.min
*= require assets/css/bootstrap-datepicker
*= require assets/css/jquery.timepicker
*= require assets/css/flaticon
*= require assets/css/icomoon
*= require assets/css/style

 *= require_tree .
 *= require_self
 */

a.nav-link:hover{
    color: blueviolet;
    border-bottom: solid blue 1px;
}

#sign-in{
  color: rgb(8, 71, 90);
  background-color: rgba(228, 228, 228, 0.473);
  border-radius: 3em 3em 0em 0em;
  padding: 3em;
  border: solid 1px;
  border-color: cornflowerblue;
  margin: 2em 20em 0em 20em;
  box-shadow: 3px 1px 37px;
}

body#back-sign{
  background-image: url('image_7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

.nav-link{
    margin-right: 3px;
}

.flexB{
    display: flex;
    flex-wrap: row;
}

#footer{
  background-color: rgb(202, 192, 192);
}

.navbar-light .navbar-brand {
  font-size: 2em;
  margin-right: 2em;
}

.d-flex{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.card{
  margin-left: 3em;
  margin-bottom: 1em;
  -webkit-text-fill-color: black;
}
