// Place all the styles related to the candidats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p#scroll{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 9em;
}

.block-18{
    margin-bottom:2em;
}

.car{
    width: 39em;
    margin-left: 0em;
}
 p.footer-content{
    color: black;   
 }

 #foot{
     background-color: black;
 }