// Place all the styles related to the candidats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p#scroll{
    overflow: scroll;
    height: 9em;
}

.block-18{
    margin-bottom:2em;
}

.car{
    width: 39em;
    margin-left: 0em;
}