// Place all the styles related to the communes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a.nav-link:hover{
    color: blueviolet;
    border-bottom: solid blue 1px;
}

#sign-in{
  color: rgb(8, 71, 90);
  background-color: rgba(0, 0, 0, 0.33);
  border-radius: 3em 3em 0em 0em;
  padding: 3em;
  border: solid 1px;
  border-color: cornflowerblue;
  margin: 2em 4em 0em 4em;
  box-shadow: 3px 1px 37px;
}

body#back-sign{
  background-image: url('image_7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

.nav-link{
    margin-right: 3px;
}

.flexB{
    display: flex;
    flex-wrap: row;
}

#footer{
  background-color: rgb(202, 192, 192);
}

.navbar-light .navbar-brand {
  font-size: 2em;
  margin-right: 2em;
}

.d-flex{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.card{
  margin-left: 3em;
  margin-bottom: 1em;
  -webkit-text-fill-color: black;
}

.white{
  color: white;
  font-size: 23px;
}