

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Liste de toutes les régions :</h1>

</div>




		<% @region.each do |region| %>


<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <%= region.name %>
      </div>



      <div class="card-body">
        
        <ul class="list-unstyled mt-3 mb-4">


        </ul>
        	<%= link_to 'Supprimer', region_path(region.id), :class => "btn btn-danger", data:{confirm:"Supprimé?"} %>
      </div>
    </div>
     <% end %> 
