<h1>Liste de toutes les régions : </h1>
<%= @region.each do |region| %>
	<%= link_to region.name, region_communes_path(region.id) %><br>
	<%= link_to Supprimer, region_path(region.id), method:"delete", data:{confirm:"Supprimé?"} %>
<% end %>