<ul class="list-group">
  <li class="list-group-item">
    <% @region.each do |region| %>
<% k=0 %> </span>
   <%= region.name %>
    <% region.communes.each do |commune|%>   
      <%= commune.name %> 
</li>
    <% commune.fokontanies.each do |fokontany| %>
    <% fokontany.recensements.each do |recensement|
    k += recensement.votes.count %>

     <% end %>      
    <% end %>
<% end %>
    <%= k %></span>
<% end %>
</ul>


		



       
      



         

 









  

