
<p>Entrer votre code de validation</p>
<%= form_tag url_for(action:'valider'), method:'post' do %>
	<input type="text" name="code_de_vérification" placeholder="code de vérification"><br>
	<input type="submit" value="Vérifier"><br>
<%end%>

<%= link_to "Renvoyer", reset_path %>